.appBar{
    position: relative !important;
    
}
.toolBar{
    display:flex;
    justify-content: space-between;

}
.headerIcon{

    font-size: 3rem !important;

}

.headerTitle{

    margin-left: 0.5vw !important;

}



@media (max-width:700px){
    .muiButton{
        width: fit-content !important;
        height: fit-content !important;
        font-size: 0.8rem !important;
        padding: 3px !important;
    }
    .headerIcon{
        font-size:2rem !important;
    }
    
    .headerTitle{

        font-size: 1rem !important;
    
    }
    .toolBar{
        display:flex;
        justify-content:space-evenly;
    
    }
}